In [1]:
# Libraries
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sb

In [2]:
#read data into notebook
GH_Housing = pd.read_csv("Gh_house_rentals.csv")
GH_Housing.head()

,url,listing_type,name,price,category,bedrooms,bathrooms,floor_area,location,condition,amenities,region,locality,parking_space,is_furnished,lat,lng
0,https://tonaton.com/a-MfYFNdCgCTytOcmvZIh0Kzrj...,rentals,"2bdrm Apartment in Charclem Ventures, East Leg...",9196.0,Flats,2,2,145.0,"Greater Accra, East Legon",Used,"24-hour Electricity,Air Conditioning,Balcony,C...",Greater Accra,East Legon,False,Semi-Furnished,5.635828,-0.161359
1,https://tonaton.com/a-MfYFNdCgwtb8Itol9odpMPvC...,rentals,"2bdrm Apartment in , Dzorwulu for rent",7500.0,Flats,2,2,100.0,"Greater Accra, Dzorwulu",Used,"24-hour Electricity,Air Conditioning,Apartment...",Greater Accra,Dzorwulu,False,Unfurnished,5.614123,-0.195647
2,https://tonaton.com/a-MfYFNdCgPjnzPYwNFEv5JrGy...,rentals,"4bdrm House in Lakeside Estate, for Rent",11200.0,Detached,4,5,100.0,"Greater Accra, Ashaley Botwe, Lake Side Estate",New,"Tiled Floor,Chandelier,Dining Area,Balcony,Pop...",Greater Accra,Ashaley Botwe,False,Semi-Furnished,5.680213,-0.137248
3,https://tonaton.com/a-MfYFNdCgwmXHQRNJiSR3rok8...,rentals,"3bdrm House in Ayathar Bedroom, Teshie for Rent",2500.0,Detached,3,3,17.0,"Greater Accra, Teshie",Used,"Pop Ceiling,Pre-Paid Meter,24-hour Electricity...",Greater Accra,Teshie,False,Semi-Furnished,5.583166,-0.104608
4,https://tonaton.com/a-MfYFNdCgn3Bcs511lKnFE19i...,rentals,"3bdrm House in Manet Viile Estate, Spintex for...",9146.0,Detached,3,3,160.0,"Greater Accra, Spintex",Used,"Pre-Paid Meter,Dining Area,Chandelier,Balcony,...",Greater Accra,Spintex,False,Semi-Furnished,5.637614,-0.126606

In [3]:
GH_Housing.describe()

,price,bedrooms,bathrooms,floor_area,lat,lng
count,18199.000000,18263.000000,18263.000000,18221.000000,18263.000000,18263.000000
mean,7986.791857,2.459618,2.565405,556.611053,5.725899,-0.246991
std,10391.854437,1.263888,1.378759,1045.060765,0.453726,0.322948
min,416.000000,1.000000,1.000000,10.000000,4.849041,-2.579248
25%,1700.000000,2.000000,1.000000,100.000000,5.592619,-0.215087
50%,3500.000000,2.000000,2.000000,145.000000,5.637614,-0.161359
75%,9800.000000,3.000000,3.000000,600.000000,5.682581,-0.135459
max,59524.000000,20.000000,20.000000,5000.000000,9.410999,0.563609

In [4]:
GH_Housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18263 entries, 0 to 18262
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   url            18263 non-null  object
 1   listing_type   18263 non-null  object
 2   name           18222 non-null  object
 3   price          18199 non-null  float64
 4   category       18263 non-null  object
 5   bedrooms       18263 non-null  int64
 6   bathrooms      18263 non-null  int64
 7   floor_area     18221 non-null  float64
 8   location       18263 non-null  object
 9   condition      18263 non-null  object
 10  amenities      18195 non-null  object
 11  region         18263 non-null  object
 12  locality       18263 non-null  object
 13  parking_space  18263 non-null  bool
 14  is_furnished   18263 non-null  object
 15  lat            18263 non-null  float64
 16  lng            18263 non-null  float64
dtypes: bool(1), float64(4), int64(2), object(10)
memory usage: 2.2+ MB